.saved-memes {
  background-color: #383b42;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}

.saved-imgs {
  color: whitesmoke;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  grid-auto-flow: dense;
  /* gap: 20px; */
  margin: 10px;
}

.saved-imgs img {
    width: 100%;
    border-radius: 50px;
}