@import url("./fonts.css");

body {
    margin: 0;
    background-color: #22252C;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1rem;
}

header {
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    align-items: center;
    height: 76px;
    margin: 20px auto; /* Center the header */
    background: linear-gradient(90deg, rgba(15,155,180,1) 0%, rgba(48,187,114,1) 50%);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.625rem;
    font-family: poppinsRegular;
    color: white;
    text-align: center;
    padding: 10px;
}

.main-nav a {
    font-size: 1.625rem;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.main-gallery{
    /* display: none; display none if you need */
    background-color: #383B42;
    border-radius: 50px;
}

.imgs{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    align-items: center;
    justify-items: center;
    grid-auto-flow: dense;
    gap:10px;
}

.imgs img{
    width: 100%;
}

.meme{
    background-color: #383B42;
    /* display: none; display none if you need */
}

.search-container {
    position: relative;
}

.search-input {
    margin: 10px;
    padding: 10px 40px 10px 15px; /* Adjusted padding to accommodate the search icon */
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    background: #22252C url('https://img.icons8.com/ios/50/000000/search--v1.png') no-repeat right 15px center; /* URL to your search icon */
    background-size: 20px 20px;
}