@import url("./media.css");
@import url("./fonts.css");
@import url("./header.css");
@import url("./main-gallery.css");
@import url("./saved-memes.css");
@import url("./memes.css");

body {
    margin: 0;
    background-color: #22252C;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1rem;
}

#footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.hidden {
    display: none !important;
}

/* .edit-text-overlay {
    display: flex;
    justify-content: space-evenly;
    /* Check why not work */